<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Inserisci Corso di Laurea</title>



</head>
<body style="text-align:center;">
	<div class="container">
		
			<h1 style="text-align:center;">Inserisci Corso di Laurea</h1>
			<hr/>
			
			<form th:action="@{/salvaCorso}" th:object="${corso}" method="POST" style="text-align:center;">
				<br>
				<br>
				<input type="text" th:field="*{codice}" class="form-control col-4 mb-4" placeholder="Codice" style="background-color:#afeeee;"/>
				<br>
				<br>
				<input type="text" th:field="*{nome}" class="form-control col-4 mb-4" placeholder="Nome" style="background-color:#afeeee;"/>
				<br>
				<br>
				<input type="text" th:field="*{indirizzo}" class="form-control col-4 mb-4" placeholder="Indirizzo" style="background-color:#afeeee;"/>
				<br>
				<br>
				<input type="text" th:field="*{numEsami}" class="form-control col-4 mb-4" placeholder="Numero di Esami" style="background-color:#afeeee;"/>
				<br>
				<br>
				<button type="submit" class="btn btn-primary col-2">Inserisci</button>
				<br>
				<br>
				
			</form>
			<hr/>
			<a th:href="@{/elenco-corsi}">Torna all'elenco corsi</a>
			<br>
			<br>
			<a th:href="@{/home-page}"> Torna alla Home</a>
		</div>
</body>
</html>