<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Inserisci Studente</title>
</head>
<body style="text-align:center;">
	<div class="container">
		
			<h1 style="text-align:center;">Inserisci Studente</h1>
			<hr/>
			
			<form th:action="@{/salvaStudente}" th:object="${studente}" method="POST" style="text-align:center;">
				<br>
				<br>
				<input type="text" th:field="*{matricola}" class="form-control col-4 mb-4" placeholder="Matricola" style="background-color:#afeeee;"/>
				<br>
				<br>
				<input type="text" th:field="*{nome}" class="form-control col-4 mb-4" placeholder="Nome" style="background-color:#afeeee;" />
				<br>
				<br>
				<input type="text" th:field="*{cognome}" class="form-control col-4 mb-4" placeholder="Cognome" style="background-color:#afeeee;"/>
				<br>
				<br>
				<input type="date" th:field="*{dataN}" class="form-control col-4 mb-4" placeholder="" style="background-color:#afeeee;"/>
				<br>
				<br>
				<input type="email" th:field="*{email}" class="form-control col-4 mb-4" placeholder="Email" style="background-color:#afeeee;"/>
				<br>
				<br>
				<input type="text" th:field="*{indirizzoR}" class="form-control col-4 mb-4" placeholder="Indirizzo di Residenza" style="background-color:#afeeee;"/>
				<br>
				<br>
				<input type="text" th:field="*{cittaR}" class="form-control col-4 mb-4" placeholder="Città di Residenza" style="background-color:#afeeee;"/>
				<br>
				<br>
				<input type="text" th:field="*{corsoDiLaurea}" class="form-control col-4 mb-4" placeholder="Codice Corso di Laurea" style="background-color:#afeeee;"/>
				<br>
				<br>
				
				
				
				<button type="submit" class="btn btn-primary col-2">Inserisci</button>
				
				
			</form>
			<hr/>
			<a th:href="@{/elenco-studenti}">Torna all'elenco studenti</a>
			<br>
			<br>
			<a th:href="@{/home-page}"> Torna alla Home</a>
		</div>
</body>
</html>